<div class="img-responsive col-md-12">
	<div class="col-md-3">
		<img src="/assets/images/logo-large.jpg" class="">
	</div>
	<div class="col-md-7">
		<h1 class="text-center">Email Forwarding Program</h1>
	</div>
</div>