<div class="container admin">
	<div class="row">
		<div class="img-responsive">
			<img src="/assets/logo-large.jpg">
			<h1 class="">Admin Panel</h1>
		</div>
		<div class="head" style="margin-top: 50px;">
			<div><button>Add New Keyword Group</button></div>
			<div>
				Sort by
				<select>
					<option>Keyword1</option>
					<option>Keyword2</option>
					<option>Keyword3</option>
					<option>Keyword4</option>
					<option>Recipients</option>
				</select>
			</div>
		</div>
		<div class="body" style="margin-top: 10px;">
			<table>
				<thead>
					<th>Keyword1</th>
					<th>Keyword2</th>
					<th>Keyword3</th>
					<th>Keyword4</th>
					<th>Recipients</th>
				</thead>
				<tbody>
					<tr>
						<td>California</td>
						<td>Processed</td>
						<td></td>
						<td></td>
						<td>3</td>
					</tr>
					<tr>
						<td>California</td>
						<td>Laser</td>
						<td></td>
						<td></td>
						<td>3</td>
					</tr>
					<tr>
						<td>California</td>
						<td>Approved</td>
						<td></td>
						<td></td>
						<td>4</td>
					</tr>
					<tr>
						<td>California</td>
						<td>Rejected</td>
						<td></td>
						<td></td>
						<td>2</td>
					</tr>
					<tr>
						<td>California</td>
						<td>Assembly</td>
						<td>Mailing</td>
						<td></td>
						<td>5</td>
					</tr>
					<tr>
						<td>California</td>
						<td>Uploaded</td>
						<td></td>
						<td></td>
						<td>3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>	
</div>