<div class="container admin edit-admin">
	<div class="row">
		<%= render('/admins/header') %>
		<div class="head col-md-12" style="margin-top: 30px;">
			<div class="col-md-6"><a href="<%= dashboard_path %>" class="btn btn-primary">Return to Main List</a></div>
		</div>
		<div class="body col-md-12" style="margin-top: 30px;">

		</div>
	</div>
</div>