<div class="container admin edit-admin">
	<div class="row">
		<%= render('/admins/header') %>
		<div class="head col-md-12" style="margin-top: 30px;">
			<div class="col-md-6"><a href="<%= dashboard_path %>" class="btn btn-primary">Return to Main List</a></div>
		</div>
		<div class="body col-md-12" style="margin-top: 30px;">
			<div class="col-md-8 panel" style="padding: 0; border: 1px solid #CACBCA">
				<div class="col-md-12 panel-heading" style="border-bottom: 1px solid #CACBCA">
					<div class="form-inline col-md-6 keywords" style="margin: 10px 0">
						<label>Keywords:</label>
						<span class="btn btn-primary keyword-span">califonia</span>
						<span class="btn btn-primary keyword-span">assembly</span>
						<span class="btn btn-primary keyword-span">mailing</span>
					</div>
					<div class="form-inline col-md-6 add-tag">
						<label style="width: 60px; margin-top: 10px;">Add/Edit Keyword</label>
						<input type="text" name="keyword_val" class="form-control keyword_val" style="margin-top: -23px" autofocus="true" placeholder="type your keyword...">
						<span class="btn btn-primary add-keyword" style="margin-top: -23px">OK</span>						
					</div>					
				</div>
				<div class="body table-responsive col-md-12 panel-body">
					<table class="table table-hover table-striped" id="mydatatable">
						<thead>
							<tr>
								<th>Greatings</th>
								<th>Email</th>
								<th>Inc. CC</th>
								<th class="text-center">Action</th>
								<th></th>
							</tr>					
						</thead>
						<tbody>
							<tr>
								<td>Tim AE</td>
								<td>ta@alexent.com</td>
								<td><input type="checkbox" name=""></td>
								<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
								<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
							</tr>
							<tr>
								<td>Alanna</td>
								<td>aalex@alexander-co.com</td>
								<td><input type="checkbox" name=""></td>
								<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
								<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
							</tr>
							<tr>
								<td>Tom</td>
								<td>citymgr@califoniaciry.com</td>
								<td><input type="checkbox" name=""></td>
								<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
								<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
							</tr>
							<tr>
								<td>California</td>
								<td>Rejected</td>
								<td><input type="checkbox" name=""></td>
								<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
								<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
							</tr>
							<tr>
								<td>Ruby</td>
								<td>findir@califoniacity.com</td>
								<td><input type="checkbox" name=""></td>
								<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
								<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
							</tr>
							<tr>
								<td>Tim ACS</td>
								<td>ta@acsbill.com</td>
								<td><input type="checkbox" name=""></td>
								<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
								<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
							</tr>
							<tr>
								<td>Dawn</td>
								<td>DFerguson@califoniacity-ca.gov</td>
								<td><input type="checkbox" name=""></td>
								<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
								<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
							</tr>
						</tbody>
					</table>
					<span class="btn col-md-12 col-sm-12 col-xs-12 add-tag-btn">Add <em>+</em></span>
				</div>
				<div class="col-md-12 text-center clickable" style="background-color: #ECEDEC"><span class=""><i class="glyphicon glyphicon-chevron-up"></i></span></div>
			</div>
			<div class="col-md-4">
				<nav class="sidebar" data-sidebar-anyclick-close="">
					<div class="col-md-12" style="border: 1px solid #CBCCCB; padding: 10px">
						<p class="text-center"><input type="checkbox" name=""> Add Link to body</p>
						<div class="form-group" style="padding-top: 5px;">Text to add: <input type="text" name="" class="form-control" placeholder="Click here to review process"></div>
						<div class="form-group">Link: <input type="text" name="" class="form-control" placeholder="https://www.sebis.com/cas/login"></div>
					</div>
					<div class="col-md-12" style="border: 1px solid #CBCCCB; margin-top: 50px; padding: 10px;">
						<p>Any matching text will be deleted from fowarded email</p>
						<div class="form-group" style="padding-top: 5px;">1. <input type="text" name="" class="form-control" placeholder="sebis"></div>
						<div class="form-group">2. <input type="text" name="" class="form-control" placeholder="www.sebis.com"></div>
						<a href="#" class="btn add add-btn">Add+</a>
					</div>
				</nav>				
			</div>
		</div>
	</div>
</div>