<form class="form-register" method="post" action="#">
    <div class="form-register-with-email">
      <div class="form-white-background">
        <div class="form-title-row">
          <h1>Contact Us</h1>
        </div>
        <div class="form-row">
          <label>
            <span>Name</span>
            <input type="text" name="name">
          </label>
        </div>
        <div class="form-row">
          <label>
            <span>Email</span>
            <input type="email" name="email">
          </label>
        </div>
        <div class="form-row">
          <label>
            <span>Text</span>
            <textarea rows="5" cols="30"></textarea>
          </label>
        </div>        
        <div class="form-row">
          <button type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>