<% provide(:title, "Home") %>
<div class="home">
  <div class="col-md-12" style="padding: 0 0 10px 0;">
    <div class="col-md-6" style="padding: 0 0 10px 50px;">
      <h1>Lorem Ipsum Dolor</h1>
      <p>The ease & </br></br> simplicity of </br></br> Email, available </br></br> across devices</p>
      <%= link_to "Create an account", new_user_registration_path, :class => 'btn btn-primary create caa' %>
    </div>
    <div class="col-md-6" style="padding: 0 0 10px 0;">
      <img src="/assets/images/iphone-back1.jpg" style="max-width: 100%; max-height: 100%;">
    </div>
  </div>
  <div class="col-md-12" style="padding: 10px 0 0 0;">
    <div class="col-md-6" style="padding: 0;">
      <img src="/assets/images/iphone-back2.jpg" style="max-width: 100%; max-height: 100%;">
    </div>
    <div class="col-md-6" style="padding: 0 0 10px 50px;">
      <h1>Lorem Ipsum Dolor</h1>
      <p>The ease & </br></br> simplicity of </br></br> Email, available </br></br> across devices</p>
      <%= link_to "Create an account", new_user_registration_path, :class => 'btn btn-primary create caa' %>
    </div>
  </div>
</div>