@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
.login-signup{
	margin-top: 50px;
}
.panel-heading {
    padding: 25px 15px !important;
}
.panel-heading strong{
	font-size: 18px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 10px auto 20px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.remember-me label{
	font-weight: normal;
}
.login-signup .form-group{
	margin-bottom: 30px;
}
.login-signup a{
	color: #337ab7;
	&:hover{
		color: #023d70;
		background-color: white;
	}
}
.login-signup em{
	margin-left: 40px;
}
.field_with_errors{
	display: table-cell;
	padding: 1px;
}
.login-signup li{
	color: red;
}


.admin img{
	width: 300px;
	height: 130px;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child{
	padding-left: 15px !important;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child{
	padding-right: 15px !important;
}
.table-responsive{
	border: 0 !important;
}
.deleterow{
	border: 0 !important;
	text-align: center;	
}
.edit a{
	background-color: #BAAD64;
	&:hover{
		background-color: #BA9907;
		text-decoration: none;
	}
}
.delete a{
	background-color: #D87285;	
	&:hover{
		background-color: #D82F23;
		text-decoration: none;
	}
}
.edit a, .delete a{
	padding: 3px 15px;
	text-align: center;
	color: black;
	font-style: italic;
	max-width: 100%;
}
#mydatatable_wrapper .row{
	padding: 5px;
}
